In [1]:
import os
import pandas
import pickle
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [2]:
data_path = '../Data'
data_file_name = 'Gender.csv'
data_file_path = os.path.join(os.path.abspath(data_path), data_file_name)
data = pandas.read_csv(data_file_path)

In [3]:
data.head()

     Height     Weight  Gender
0  4.789786  85.258877  Female
1  4.912703  35.650896    Male
2  6.048051  94.013271    Male
3  5.779219  67.904361    Male
4  5.468829  59.414150  Female

In [4]:
data.describe()

          Height     Weight
count  20.000000  20.000000
mean    5.594876  71.672672
std     0.526560  21.087366
min     4.611380  35.303159
25%     5.137162  55.975660
50%     5.690278  74.515938
75%     6.041627  92.072771
max     6.264796  96.921798

In [5]:
y_col = ['Gender']
X_cols = [column for column in data.columns if column not in y_col]
X = data[X_cols]
y = data[y_col]

In [6]:
X.head()

     Height     Weight
0  4.789786  85.258877
1  4.912703  35.650896
2  6.048051  94.013271
3  5.779219  67.904361
4  5.468829  59.414150

In [7]:
y.head()

   Gender
0  Female
1    Male
2    Male
3    Male
4  Female

In [8]:
hyper_parameters = {
    'n_estimators': [100, 200],
    'criterion': ['gini', 'entropy'],
    'max_depth': [2, 4],
    'min_samples_split': [2, 10],
    'min_samples_leaf': [2, 3],
    'n_jobs': [4, 8]
}
grid_search_model = GridSearchCV(RandomForestClassifier(), param_grid=hyper_parameters, n_jobs=4)
grid_search_model.fit(X, y)
print(grid_search_model.best_params_)

c:\users\user\pythonprojects\gender\venv\lib\site-packages\sklearn\model_selection\_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

{'criterion': 'gini', 'max_depth': 4, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 200, 'n_jobs': 4}

In [9]:
model_path = '../Model'
model_name = 'Model.p'
if not os.path.exists(os.path.abspath(model_path)):
    os.mkdir(os.path.abspath(model_path))
model_path = os.path.abspath(model_path)
model = RandomForestClassifier(
    n_estimators=grid_search_model.best_params_['n_estimators'],
    criterion=grid_search_model.best_params_['criterion'],
    max_depth=grid_search_model.best_params_['max_depth'],
    min_samples_split=grid_search_model.best_params_['min_samples_split'],
    min_samples_leaf=grid_search_model.best_params_['min_samples_leaf'],
    n_jobs=grid_search_model.best_params_['n_jobs'],
)
model.fit(X, y)
pickle_model = {'Model': model}
pickle.dump(pickle_model, open(os.path.join(model_path, model_name), 'wb'))
print('{} is saved in {}'.format(model_name, model_path))

<ipython-input-9-cb3efbf465f4>:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)

Model.p is saved in C:\Users\user\PythonProjects\Gender\Model